#title {
    text-align: center;
}

#game-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#board-container {
    display:flex;
    padding: 5vh;
    position: relative;
  
    width: 70vh;
    height: 70vh;
  
    max-width: 100vw;
    max-height: 100vw;
  }

#players-table {
  position: relative;
  background-color: #6eb868;
  float: right;
  border-radius: 3px;


  width: 40vh;
  height: 70vh;
}

#buttons-cont {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  
  margin-top: auto;
  padding-bottom: 1vh;

  width: 100%;
  height: 4vh;
}

.button {
  width: 50%;
  height: 100%;
  padding: 10px;
  margin: 5px;
}

  table {
    border: 15px solid rgb(0, 0, 0);
    background-color: black;
    border-radius: 3px;
  
    width: 100%;
    height: 100%;
  }

  td {
    text-align: center;
    background-color: #6eb868;
  
    width: 10%;
    height: 10%;
  }

  .emptySquare {
    background-color: #ffffff;
  }

