#title {
    text-align: center;
}

#board-container {
    display:flex;
    padding: none;
    position: relative;
  
    width: 70vh;
    height: 70vh;
  
    max-width: 100vw;
    max-height: 100vw;
  }

  table {
    border: 15px solid rgb(0, 0, 0);
    background-color: black;
    border-radius: 3px;
  
    width: 100%;
    height: 100%;
  }

  td {
    text-align: center;
    background-color: #6eb868;
  
    width: 10%;
    height: 10%;
  }

  .noPieceHere {
    background-color: #ffffff;
  }

